<div class="task--header">
    <div class="task-logo">FastTask

    </div>

    <div class="task--header--nav">
        <div class="task--top-bar">
            <a href="#">About</a>
            <a href="#">Task Manager</a>
            <a href="#">Calendar Tracker</a>
            <a href="#">Sign Up/ Log In</a>
        </div>

        <div class="task--bottom--bar">
            <div class="task-menu">
                <a href="#">Home</a>
                <a href="#">Services</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
            </div>
            <div class="task--search--bar">
                <input type="text" class="task-search-box" placeholder="Search">
                <button class="task--search--btn">
                    <i class="fa fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>