@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

.about-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.highlight {
    color: #0CCA4A;
    font-weight: 600;
}

/* Hero Section */
.hero-section {
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 2rem;

    .hero-title {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .hero-subtitle {
        font-size: 1.5rem;
        color: #666;
    }
}

.mission-section {
    background-color: #f8f9fa;
    border-radius: 12px;
    padding: 3rem;
    margin: 0rem 0;
    width: 30%;
    height: 300px;
    margin: auto;
    border: gray solid 1px;
    display: flex;
    flex-direction: column;

    h1 {
        color: #0CCA4A;
        font-weight: 600;
        margin-bottom: 3rem;
    }

    .form-section {
        width: 100%;
        column-gap: 2px;
    }

    .form-section input {
        padding: 1rem;
        width: 90%;
        border-radius: 1rem;
        margin-bottom: 1rem;
    }

    .mission-btn {
        width: 90%;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        font-size: large;
        background-color: #0CCA4A;
        color: white;
        font-weight: 600;
        border: none;
        border-radius: 1rem;
        align-self: center;
        box-shadow: 0 1px 5px green;
    }
}