<div class="login-container">
    <section class="hero-section">
        <div class="hero-content">
            <h1 class="hero-title">Log In <span class="highlight">Now</span></h1>
            <p class="hero-subtitle">Lets start managing your tasks!</p>
        </div>
    </section>

    <section class="mission-section">
        <h1>Log In to your account</h1>
        <form class="form-section">
            <input type="email" placeholder="Enter your email" />
            <input type="password" placeholder="Enter your password" />

            <button type="submit" class="mission-btn">Log In</button>
        </form>
    </section>
</div>